<!DOCTYPE html>
<!--
/////////////////////////////////////////////////////////////////////////////
// Name:        {{ name }} (PHP SLIM4 generated)
// Author:      Erik Welander (erik.welander@hotmail.com)
// Modified:    {{ pageModified }}
// Copyright:   Erik Welander
/////////////////////////////////////////////////////////////////////////////
-->
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache"/>
    {% for c in css %}
        <link rel="stylesheet" href="{{ c }}" media="screen"/>
    {% endfor %}
    <link rel="icon" href="img/png/icon.png" type="image/png"/>
    <title>{{ title }}</title>
</head>
