<div class="page-main-content-sidebar color-orange-background">
    <img class="page-main-content-sidebar-open-close" src="/img/svg/left-arrows.svg"/>
    <div id="page-main-content-sidebar-content">
        <div class="profile-sidebar-picture center-block"></div>
        <h1 class="center-text letter-spacing-large margin-small">Erik Welander</h1>
        <h3 class="center-text margin-0">{{ T['header2']|raw }}</h3>
        <h5 class="center-text margin-0 text-style-italic margin-medium-bot">{{ T['header3']|raw }}</h5>
        <ul class="horizontal-list-contact center-text padding-0">
            <li>
                <a href="https://github.com/Kira9204" target="_blank">
                    <img class="contact-icon-image-size" src="img/png/contact_github.png" alt="contact_github.png"/>
                    <span class="contact-icon-image-description">Github</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/erikwelander/" target="_blank">
                    <img class="contact-icon-image-size" src="img/png/contact_linkedin.png" alt="contact_linkedin.png"/>
                    <span class="contact-icon-image-description">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/erik.welander" target="_blank">
                    <img class="contact-icon-image-size" src="img/png/contact_facebook.png" alt="contact_facebook.png"/>
                    <span class="contact-icon-image-description">Facebook</span>
                </a>
            </li>
            <li>
                <a href="https://discordapp.com/users/165204009303539712" target="_blank">
                    <img class="contact-icon-image-size" src="img/png/contact_discord.png" alt="contact_discord.png"/>
                    <span class="contact-icon-image-description">Discord</span>
                </a>
            </li>
        </ul>
        <ul class="vertical-list-contact">
            <li>
                <img class="contact-icon-info" src="/img/svg/info.svg" alt="info.svg"/>
                <span>{{ T['headerContact']|raw }}</span>
            </li>
            <li>
                <img class="contact-icon-smaller" src="/img/svg/mail.svg" alt="mail.svg"/>
                <a href="mailto:erik.welander@hotmail.com">erik.welander@hotmail.com</a>
            </li>
            <li>
                <img class="contact-icon-smaller" src="/img/svg/mobile.svg" alt="mobile.svg"/>
                <a href="tel:+46737471410">0737471410</a>
            </li>
            <li>
                <img class="contact-icon-smaller" src="/img/svg/house.svg" alt="house.svg"/>
                <a href="https://www.google.com/maps/place/Johannelundsv%C3%A4gen+20,+163+45+Sp%C3%A5nga/@59.3633929,17.9057136,17z/data=!3m1!4b1!4m5!3m4!1s0x465f9e3b64d7cd09:0x4a0c21cfb0feaa8a!8m2!3d59.3633929!4d17.9079023">Johannelundsvägen, Spånga</a>
            </li>
            <li>
                <img class="contact-icon-smaller" src="/img/svg/birthday-cake.svg" alt="birthday-cake.svg"/>
                1992-04-06
            </li>
            <li>
                <img class="contact-icon-smaller" src="/img/svg/car.svg" alt="car.svg"/>
                {{ T['yes']|raw }}
            </li>
        </ul>
        <ul class="vertical-list-contact">
            <li>
                <img class="contact-icon-info" src="/img/svg/chat.svg" alt="chat.svg"/>
                <span>{{ T['headerAboutMe']|raw }}</span>
            </li>
            <li>
                <p class="no-margin text-size-100">
                    {{ T['aboutMe']|raw }}
                </p>
            </li>
        </ul>
        <p id="copyright">
            {{ T['lastUpdated']|raw }}: {{ pageModified }}<br/>
            &copy; Erik Welander
        </p>
    </div>
</div>